.ExcelTableFormationCol {
    width: 55px;
    height: 20px;
    text-align: center;
    font-family: Arial Narrow;
    font-size: 14px;
}

.ExcelTableFormationRow {
    background-color: #EEEEEE;
    text-align: center;
    font-family: Calibri;
    font-size: 16px;
    height: 20px;
}

#LastRow td {
    border-bottom-width: 0px;
}

.LastCol {
    border-right-width: 0px;
}

#ExcelCursorOuter {
    position: relative;
}

#ExcelCursor {
    position: absolute;
    top: 8px;
    right: -5px;
    background: #000;
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
    border-right: 0px;
    border-bottom: 0px;
}

.test {
    // border: 1px solid;
    position: absolute;
    width: 7px;
    height: 114px;
    top: 8px;
    left: 90px;
    cursor: col-resize;
}


//==========//

.wrapper {
    table {
        border-collapse: collapse;
        border-bottom-width: 0px;
        //border-right-width: 0px;

        td{
            height: 25px;
            min-height: 25px;
            width: 55px;
            outline: none;
            text-align: left;
            vertical-align: baseline;
            font-family: "Arial Narrow";
            font-size: 14px;
            
            
        }

        tr:first-child {
            td{
                height: 20px;
                text-align: center;
                vertical-align: middle;
                font-size: 14px;
                background-color: #EEEEEE;
            }
        }

        tr {
            td:first-child{
                width: 25px;
                height: 20px;
                text-align: center;
                vertical-align: middle;
                background-color: #EEEEEE;
            }

            td:last-child{
                border-right-width: 0px;
            }
        }
    }

    .cross-highlight{
        background-color: Gold;
    }

    .selected{
        border: 3px solid black;
    }

    .handler{
        position: absolute;
        
        &.row{
            cursor: row-resize;
            //border: 1px solid red;
        }
        &.col {
            cursor: col-resize;
            //border: 1px solid blue;            
        }
    }
}

.operation-icons {
    position: absolute;
    margin-top: 10px; 
    border: 1px solid;
    font-size: 14px;
    padding: 5px 10px;
    background: #f0f0f0;
    div {
        display: inline-block;
    }

    a {
        color: #333;
        padding: 5px 10px;
    }

    a:hover {
        border: 1px solid;
        cursor: pointer;        
    }

    .editor {
        //border: 1px solid;
        padding: 10px 5px;
        width: 110px;
    }

    .table {
        //border: 1px solid;
        padding: 10px 5px;
        width: 78px;
    }

    .separator {
        padding: 0 3px;
        a {
            border: none;
            border-left: 1px solid;
            padding: 5px 0;
        }
        
    }
}
