//==========//

.wrapper {
    table {
        border-collapse: collapse;
        border-bottom-width: 0px;
        //border-right-width: 0px;

        td{
            height: 25px;
            min-height: 25px;
            width: 55px;
            outline: none;
            text-align: left;
            vertical-align: baseline;
            font-family: "Arial Narrow";
            font-size: 14px;  
        }

        .col-select {
                background-color: #fbfbdb;
            }

         .row-select {
                background-color: #dcdcca;;
            }  

        tr:first-child {
            td{
                height: 20px;
                text-align: center;
                vertical-align: middle;
                font-size: 14px;
                background-color: #EEEEEE;
                cursor: pointer;
            }
        }

        tr {
            td:first-child{
                width: 25px;
                height: 20px;
                text-align: center;
                vertical-align: middle;
                background-color: #EEEEEE;
                cursor: pointer;
            }

            td:last-child{
                border-right-width: 0px;
            }
        }
    }

    .cross-highlight{
        background-color: Gold;
    }

    .selected{
        border: 3px solid black;
    }

    .handler{
        position: absolute;
        
        &.row{
            cursor: row-resize;
            //border: 1px solid red;
        }
        &.col {
            cursor: col-resize;
            //border: 1px solid blue;            
        }
    }
}

.operation-icons {
    border: 1px solid;
    font-size: 12px;
    background: #f0f0f0;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;

    div {
        display: inline-block;
    }

    a {
        color: #333;
        padding: 5px 10px;
    }

    a:hover {
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        cursor: pointer;       
    }

    .block {
        padding:8px 5px;
    }

    .separator {
        padding: 0 3px;
        a {
            border: none;
            border-left: 1px solid;
            padding: 5px 0;
        }
        
    }
}
